
{%include 'userheader.html'%}

  <br><br><br><br><br>

<form action=""method="post">
    <center>
      <h1>REVIEW</h1>
      <br><br>
      <table border="1" class="table table-striped">
        <tr style="background-color:black ;">
    <tr>
        <th>Review_rating</th>
        <td><input type="text" name="review_rating"></td></tr>
        
        <br>
    <tr>
        <td  align="center" colspan="2"><input  style="margin-left: -100px;"type="submit" value="SEND" name="review" id=""></td></tr>
    
        


    
    <table>
    </center>
</form>
{%include 'footer.html'%}