
{%include 'userheader.html'%}

 <br><br><br><br><br><br>
<form action=""method="post">
    <center>
      <h1>FEEDBACK</h1>
      <table border="1" class="table table-striped">
        <tr style="background-color:black ;">
    <tr>
            <th>Description</th>
            <td><textarea name="description" id="" cols="30" rows="10"></textarea></td>
    </tr>

      <br> 
    <tr>
        <td  align="center" colspan="2"><input style="margin-left: -300px;" type="submit" value="SEND" name="feedback" id=""></td>
    
        
    </tr>


    
    </table>

    
    </center>

</form>
{%include 'footer.html'%}